@mixin shadow_f {
    -webkit-box-shadow: 0px 3px 2px #8e8371;
    -moz-box-shadow: 0px 3px 2px #8e8371;
    box-shadow: 0px 3px 2px #8e8371;
}
@mixin translate_c {
    transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
}
