*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none !important;
}

@font-face {
    font-family: DinRegular;
    src: url(../fonts/D-DIN.woff);
}

body{
    font-family: DinRegular;
    margin: 0;
    padding: 0; 
}
