$menu-color: #ff5103 !important;
$foot-btn-color :#f6950b;
$black-color: #000;
$blue-color: #17aacf;
$gray-color :#e8e8e8 !important;
$text-white: #fff;
$gray-color-foot:#3d3d3d;

$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700,
    "bolder":800
);