@import "variable";
@import "mixin";
@import "media_query";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none !important;
}

@font-face {
    font-family: DinRegular;
    src: url(../fonts/D-DIN.woff);
}

body{
    // font-family: Arial, Helvetica, sans-serif;
    font-family: DinRegular;
    margin: 0;
    padding: 0; 
}

.head_cls_top{
    padding: 30px 0px !important;
}

// NavLinks
.navbar-light .navbar-nav .active>.nav-link{
    color: $menu-color;
}
.navbar-light .navbar-nav .nav-link {
    color: $black-color;
    transition: 0.5s ease;
    font-family: DinRegular;

    &:hover{
        color: $menu-color;
    }
    .navbar-toggler {
        color: $menu-color;
        border: 0px;
        margin: 0;
        padding: 0;
    }
}

    .text_f {
        font-size: 30px;
.text_f {
       font-size: 30px;
       font-weight: 600;
       margin: 0;
       padding: 0;
    
}

.proj_w h2 {
   @include head_h2;

   &::after{
    @include h2_after;
   }
}

.proj_b {
    margin-bottom: 10px;
        h3{
            @include head_h3;
        }

        p{
            @include para;
        }
}

.proj_b img{
    @include image_s;

    &:hover {
        cursor: pointer;
        transform: scale(1.1) !important;
    }
}


.footer_cls{
    background-color: $gray-color;
    padding: 40px 0 0px;

    h2 {
        @include foot_h2;
    }
    p {
            @include foot_p;
        }
}

@include mobile {
    .footer_cls {
     background-color: #000 !important;
  }
 }

 @include mobile {
    .flick_in{
     display:none;
  }
 }

 @include mobile {
    .foot_2{
     display:none;
  }
 }

.flick_wrap{
    display: none;
}

@include mobile {
    .flick_wrap{
    display: block !important;
  }
    .flick_wrap h2 {
        margin: 0;
        padding-bottom: 10px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        position: relative;
        color: $text-white;

        &::after{
            content: ' \203A';
            font-size: 30px;
            line-height: 8px;
            margin-left: 10px;
            position: absolute;
        }
    }

    .flick_wrap h3 {
        margin: 0;
        padding-bottom: 10px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        color: $text-white;
        display: inline-block;
    }

    .flick_wrap ul{
        list-style: none;
    }

    .flick_wrap ul li a {
        color: $text-white;
        font-size: 12px;
        font-weight: 500;
    }
}

.small_one{
    display: none;
}
@include mobile {
    .small_one{
        display: block !important;
  }
}

.list_f{
    list-style: initial ;

        li{
        @include list;
            display: inline-block;
            letter-spacing: 1px;
            padding: 0 5px;
            font-weight: 600;
            font-size: 15px;
        .list_f_span {
            color: #f6950b;
        }

    }
}


.get_in {
    background-image: linear-gradient(to top , #f18c11, #ffa103);
    padding: 25px;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 25px;
    @include shadow_f;

    h3 {
        @include foot_h3;
        margin: 0 0 20px;
        border-bottom: 1px solid #fff;
        display: inline-block;
        color: $text-white;
        font-weight: 400;
    }

     button {
        // @include btn_f;
        @extend %shaduled_btn;
    }

    @include mobile {
        .get_in{
            margin-top: -50px !important;
            margin-bottom: 25px;
            order: 1 !important;
            box-shadow: none !important;
      }
    }

  
}



@include mobile {
    .foot_2{
        order: 2;
    }
}

@include mobile {
    .foot_1{
        order: 3;
    }
}

 h4{
   @include foot_h4;
    margin: 0 0 10px;
    font-weight: 400;
    color: $gray-color-foot;
    font-size: 22px;
    line-height: 30px;
}


.img-fluid {
    max-width: 100% !important;
    height: auto !important ;
}













